.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#catFactLogo {
  width: 40rem;
  margin: 0;
  border: none;
  outline: none;
}

@media screen and (max-width: 500px) {
  #catFactLogo {
    width: 15rem;
  }
}
